*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

nav{
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 8vh;
  background: #002A1F;
}

.logo{
  color:#E6C304;
  letter-spacing: 5px;
  font-size: 25px;
  font-weight: bolder;
}
.nav-items{
  display: flex;
  justify-content: space-around;
  width: 40%
}

.nav-items a{
   color:white;
   text-decoration: none;
   letter-spacing: 3px;
   font-weight: bold;
   font-size: 15px;
}

.nav-items a:hover{
  color: #E6C304;
}

.nav-items li{
  list-style: none;
}

body{
    font-family: 'Varela Round', sans-serif;
    background: rgba(0,42,31,0.95);
}

.menu{
  display: none;
  cursor: pointer;
}

.menu div{
  width: 30px;
  height: 2px;
  background-color: aliceblue;
  margin: 7px;
  transition: 0.3s ease;
}


/*Start of Desktop Design*/
@media screen and (min-width: 1024px){
  .nav-items{
  width: 45%;
  }

.call-picture{
  width: 95px;
  margin-left: 25%;
  float: left;
}

.call{
  margin-top: 20px;
  align-items: center;
}

.phone-number{
  margin-top: 10px;
  margin-right: 20%;
  float: right;
  color: #E6C304;
  margin-top: 6%;
  font-size: 35px;
}

.mail-picture{
  width: 95px;
  margin-left: 25%;
  float: left;
}

.email{
  margin-top: 20px;
  align-items: center;
}

.email-address{
  margin-top: 10px;
  margin-right: 20%;
  float: right;
  color: #E6C304;
  margin-top: 6%;
  font-size: 35px;
}

}



/* Start of Responsive Mobile Design */
@media screen and (max-width: 768px){
  body{
    overflow-x: hidden;
  }

 .slogan{
    display: flex;
    justify-content: center;
    margin-left: 14%;
  }
  
  .nav-items{
  position: absolute;
  right: 0px;
  height: 100%;
  top: 8vh;
  background-color:#002A1F;
  display: flex;
  flex-direction: column;
  align-items: center;
  transform: translateX(100%);
  transition: transform 0.2s ease-in;
  margin-bottom: 100%;
  
  

  }
.nav-items li{
  opacity: 0;
}
.menu{
  display: block;
}
.logo{
  color:white;
}


.nav-active{
  transform: translateX(0%)
}

@keyframes navLinkFade{
  from{
    opacity:0;
    tranform: translateX(50px);
  }
  to{
    opacity: 1;
    transform: translateX(0px);
  }
}

.slogan{
  display:flex;
  align-items: center;
  text-align: center;
}

.call-picture{
  width: 95px;
  margin-right: 2%;
  float: left;
}

.call{
  margin-top: 20px;
  align-items: center;
}

.phone-number{
  margin-top: 12%;
  float: right;
  color: #E6C304;
  font-size: 30px;
  margin-bottom: 30px;
}

.mail-picture{
  width: 95px;
  margin-top: 30px;
}

.email{
  margin-top: 20px;
  align-items: center;
}



}



/* End of Responvie Phone Design */
.toggle .line1{
  transform: rotate(-45deg) translate(-4px, 9px);
}

.toggle .line2{
  opacity: 0;
}

.toggle .line3{
  transform: rotate(45deg) translate(-3px,-9px);
}

.DJJ{
  display: flex;
  text-align: center;
  justify-content: center;
  margin-top: 10%;
  font-size: 250%;
  color: #E6C304;
}

.dots{
  display: block;
  margin: auto;
  width:50%;
  height: 50%;
  margin-top: 2%;
}

.slogan{
  margin:0px;
  display: flex;
  text-align: center;
  justify-content: center;
  margin-top: 3%;
  margin-bottom: 5%;
  font-size: 150%;
  color:#E6C304;
}

.homepage{
  display: block;
  margin: auto;
  width: 50%;
  
}

.about{
  display: flex;
  text-align: center;
  justify-content: center;
  margin-top: 5%;
  margin-bottom: 5%;
  font-size: 250%;
  color:#E6C304;
}

.content{
  color: #E6C304;
  display: flex;
  text-align: center;
  margin-left: 10%;
  margin-right: 10%;
  margin-bottom: 5%;
}

.contact-module{
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5%;
  width: 90%;
  height: auto;

}

/* Three image containers (use 25% for four, and 50% for two, etc) */
.column {
  float: left;
  width: 33.33%;
  padding: 5px;
}

/* Clear floats after image containers */
.row::after {
  content: "";
  clear: both;
  display: table;
}