* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
}

header {
    display: flex;
    width: 95%;
    height: 10vh;
    margin: auto;
    align-items: center;
}

.logo-container,.nav-links,.cart{
    display: flex;
    margin-top: 1%;
}

.logo-container{
    flex: 1;
}

.logo{
    font-weight: 150;
    margin-left: 10px;
}

nav{
    flex: 2;
}

.nav-links{
    justify-content:space-around;
    list-style: none;
}

.nav-link {
    color:seagreen;
    font-size: 18px;
    text-decoration:none;

}

.cart{
    flex: 1;
    justify-content: flex-end;
}

.presentation {
    display: flex;
    width: 95%;
    margin: auto;
    min-height: 80vh;
    align-items: center;
}

.introduciton {
    flex: 1;
    margin-left: 50px;
    margin-right: 10px;
}

.intro-text h1{
    font-size: 44px;
}

.intro-text p{
    margin-top: 1px;
    font-size: 15px;
}
.cover{
    flex: 1;
}
.cover img {
    height: 60vh;
}
